.pw_poll-container {
    width: 100%;
    height: 100%;
    padding: 1em;
    border: 1px solid black;
    border-radius: 20px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pw_option {
	width: 100px;
}

.pw_track-container {
    position: relative;
	padding: 0 10px;
}

.pw_track {
    width: 85%;
    height: 10px;
    background-color: lightgray;
    position: relative;
    margin: 20px auto;
    border-radius: 10px;
}

.pw_circle {
    width: 30px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 50%;
    position: absolute;
    bottom: -9px;
    left: -5px;
    cursor: pointer;
}

.pw_bars {
	width: 80%;
	height: 100px;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pw_bar {
    width: 20px;
    height: 100%;
    background-color: lightgreen;
    bottom: 0px;
}